In [3]:
# http://statisland.com/mathletics/Introduction.html

Year = seq(2014,2016)             # array of 2014-2016
Team = rep("New York Mets", 3)    # repeats MYM 3 times
W = c(79, 90, 87)                 
L = c(83, 72, 75)
mets = data.frame(Year, Team, W, L) # df with 4 columns

mets                              # view of mets df

  Year Team          W  L
1 2014 New York Mets 79 83
2 2015 New York Mets 90 72
3 2016 New York Mets 87 75

In [5]:
mets$Year

[1] 2014 2015 2016

In [6]:
mets$W[mets$W >= 81]

[1] 90 87

In [7]:
mets[2,3]                         # value in column 2, row 3

[1] 90

In [8]:
mets[ , c("W", "L")]             # columns W and L

  W  L
1 79 83
2 90 72
3 87 75

In [9]:
mets[mets$Year==2016, c(3, 4)]            # 2016 W and L

  W  L
3 87 75

In [13]:
mets[mets$W > mets$L, "Year"]            # years with more wins than losses
max(mets$Year)                           # max year
sum(mets$W)                              # sum of wins
mean(mets$W)                             # mean of wins

[1] 2015 2016

[1] 2016

[1] 256

[1] 85.33333

In [22]:
paste(mets$Year, mets$Team, sep="---")    # paste year and team with ---
sapply(mets$Year, function(x){ x-2000 })  # apply a fuction that subtracts 2000 from each year

[1] "2014---New York Mets" "2015---New York Mets" "2016---New York Mets"

[1] 14 15 16

In [26]:
mets$Games = mets$W + mets$L      # create a new column with the sum of W and L 
mets$Games

[1] 162 162 162

In [28]:
mets$W.pct = round(mets$W/mets$Games, 3)  # Mets win percentage, rounded to 3 places
mets$W.pct

[1] 0.488 0.556 0.537

In [29]:
mets$`Over500` = ifelse(mets$W > mets$L, TRUE, FALSE)  # create a new column with a boolean value
mets$`Over500`

[1] FALSE  TRUE  TRUE

In [30]:
next_year = c(2017, "New York Mets", 162, 0, 162, 1.000, TRUE)  #adding new row with rbind
mets2=rbind(mets, next_year)                                          
mets3=cbind(mets2, League=rep("NL", 4))                          #cbind adds columns
mets3

  Year Team          W   L  Games W.pct Over500 League
1 2014 New York Mets 79  83 162   0.488 FALSE   NL
2 2015 New York Mets 90  72 162   0.556 TRUE    NL
3 2016 New York Mets 87  75 162   0.537 TRUE    NL
4 2017 New York Mets 162 0  162   1     TRUE    NL